<section class="paquetes-container">
  <header class="paquetes-header">
    <h2>{{ title }}</h2>

    <div class="acciones">
      <button class="btn" (click)="refrescar()">⟳ Refrescar</button>
      <button class="btn primario" (click)="crear()">＋ Nuevo paquete</button>
    </div>
  </header>

  <div class="tabla-paquetes">
    <lib-ui-ag-grid
      [height]="500"
      mode="hybrid"
      [columnDefs]="columns"
      [rowData]="rows()"
      [totalRows]="total()"
      [loading]="svc.loading()"
      [pageSizeOptions]="[10, 25, 50]"
      [rowActions]="rowActions"
      [showActionLabels]="false"
      actionColumnHeader="Operativa"
      [actionColumnWidth]="140"
      searchPlaceholder="Buscar por nombre"
      (queryChange)="onGridQueryChange($event)"
      (actionClick)="onGridActionClick($event)">
    </lib-ui-ag-grid>
  </div>
</section>
